<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.5" name="asahi-opensuse">
    <description type="system">
        <author>Ivan Bushchik</author>
        <contact>ivabus@ivabus.dev</contact>
        <specification>openSUSE for Apple Silicon</specification>
    </description>
    <preferences>
        <version>0.0.1</version>
        <packagemanager>zypper</packagemanager>
        <bootsplash-theme>openSUSE</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>UTC</timezone>
        <rpm-check-signatures>true</rpm-check-signatures>
        <type image="oem" filesystem="btrfs" firmware="uefi" bootpartition="true" bootpartsize="1024" bootfilesystem="ext4" efipartsize="512" target_blocksize="4096">
            <bootloader name="grub2" console="gfxterm"/>
            <oemconfig>
				<oem-resize>false</oem-resize>
			</oemconfig>
        </type>
    </preferences>
    <users>
        <user password="root" home="/root" name="root" groups="root"/>
    </users>
    <profiles>
        <profile name="Tumbleweed" description="Tumbleweed base"/>
        <profile name="Leap" description="Leap base"/>
        <profile name="Leap-KDE" description="Leap with KDE desktop">
            <requires profile="Tumbleweed"/>
        </profile>
        <profile name="Leap-GNOME" description="Leap with GNOME desktop">
            <requires profile="Tumbleweed"/>
        </profile>
        <profile name="Leap-XFCE" description="Leap with XFCE desktop">
            <requires profile="Tumbleweed"/>
        </profile>
        <profile name="Tumbleweed-KDE" description="Tumbleweed with KDE desktop">
            <requires profile="Tumbleweed"/>
        </profile>
        <profile name="Tumbleweed-GNOME" description="Tumbleweed with GNOME desktop">
            <requires profile="Tumbleweed"/>
        </profile>
        <profile name="Tumbleweed-XFCE" description="Tumbleweed with XFCE desktop">
            <requires profile="Tumbleweed"/> 
        </profile>
    </profiles>
    <include from="this://./repos.xml"/>
    <!-- Asahi repo -->
	<repository type="rpm-md" alias="asahi" sourcetype="baseurl" priority="1" imageinclude="true">
		<source path="https://storage.ivabus.dev/asahi-opensuse/repo/">
			<signing key="https://ivabus.dev/key.asc"/>
		</source>
	</repository>
    <include from="this://./desktop.xml"/>
    <packages type="bootstrap" profiles="Tumbleweed,Leap" patternType="plusRecommended">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="gawk"/>
        <package name="grep"/>
        <package name="gzip"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="openSUSE-release"/>
        <package name="zypper"/>
        <package name="xz"/>
    </packages>
    <packages type="image" profiles="Tumbleweed,Leap" patternType="plusRecommended">
        <package name="patterns-base-base"/>
        <package name="patterns-base-apparmor"/>
        <package name="patterns-openSUSE-base"/>
        <package name="acl"/>
        <package name="btrfsprogs"/>
        <package name="btrfsmaintenance"/>
        <package name="cron"/>
        <package name="chrony"/>
        <package name="dracut"/>
        <package name="fipscheck"/>
        <package name="grub2-branding-openSUSE"/>
        <package name="iputils"/>
        <package name="zypper-lifecycle-plugin"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="grub2-arm64-efi" arch="aarch64"/>
        <package name="haveged"/>
        <package name="less"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="rollback-helper"/>
        <package name="snapper"/>
        <package name="firewalld"/>
        <package name="systemd"/>
        <package name="timezone"/>
        <package name="NetworkManager"/>
        <package name="wpa_supplicant"/>
        <package name="iproute2"/>
        <package name="openssh"/>
        <package name="rsync"/>
        <package name="salt-minion"/>
        <package name="dialog"/>
        <package name="grub2-snapper-plugin"/>
        <package name="snapper-zypp-plugin"/>
        <package name="dracut-kiwi-oem-repart"/>
        <package name="ntp"/>
        <package name="ruby"/>
        <package name="yast2-firstboot"/>
    </packages>
    <packages type="image">
        <package name="kernel"/>
        <package name="m1n1"/>
        <package name="uboot-asahi"/>
        <package name="asahi-scripts"/>
    </packages>
</image>
